* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
    position: relative;


}
h1 {
    font-size: 2rem; /* Increase font size */
    font-family: 'Courier New', monospace; /* Thematic font */
    color: #0a0a0a; /* Darker text color for better readability */
}

p{
    font-size: 1rem; /* Increase font size */
    font-family: 'Courier New', monospace; /* Thematic font */
    color: #0a0a0a; /* Darker text color for better readability */
}

.container .tenor-gif-embed {
    display: flex;
    max-width: 200px;
}


.container .btn {
    display: flex;
    gap: 25px;

}

.btn a {
    font-size: 1rem; /* Increase font size */
    font-family: 'Courier New', monospace; /* Thematic font */
    color: #0a0a0a; /* Darker text color for better readability */
    text-decoration: none;
    color: #fff; /* Changed text color to white for better visibility */
    background: #ff4081; /* Changed background color to a bright pink */
    padding: 15px 30px; /* Increased padding for a larger button */
    border-radius: 10px; /* Added border-radius for rounded corners */
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
    transition: background 0.3s; /* Smooth background transition */
}

.btn a:hover {
    background: #e91e63; /* Darker shade on hover for better visibility */
}

